<!DOCTYPE html>
<html>
<head>
    <title>Analisis Sentimen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
  <a href="/">Home</a>
  <a href="/analisis">Analisis</a>
  <a href="/dataset">Dataset</a>
  <a href="/tentang">Tentang</a>
</nav>

<div class="container">
  <h2>Analisis Sentimen Teks</h2>

  <form method="POST">
    <textarea name="teks" placeholder="Masukkan teks..." required>{{ teks }}</textarea>
    <br>
    <button type="submit">Analisis</button>
  </form>

  {% if hasil %}
    <div class="hasil {{ hasil }}">
      Hasil Analisis: <b>{{ hasil|upper }}</b>
    </div>
  {% endif %}
</div>
</body>
</html>
