<!DOCTYPE html>
<html>
<head>
    <title>Tentang Sistem</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
  <a href="/">Home</a>
  <a href="/analisis">Analisis</a>
  <a href="/dataset">Dataset</a>
  <a href="/tentang">Tentang</a>
</nav>

<div class="container">
  <h2>Tentang Sistem</h2>
  <p>
    Sistem ini dikembangkan sebagai proyek magang dengan tujuan
    membantu evaluasi sentimen publik terhadap publikasi Humas
    PT Pupuk Iskandar Muda.
  </p>

  <p>
    Teknologi yang digunakan:
  </p>
  <ul>
    <li>Python & Flask</li>
    <li>Naive Bayes Classifier</li>
    <li>HTML & CSS</li>
  </ul>
</div>
</body>
</html>
